body{
    font-family: sans-serif;
    background-color: rgb(227, 213, 202);
        width: 100%;
        height: 400px;
        background-image: url('background.svg');
        background-size: cover;
        background-position: center;
}


.nome {
    display: flex;
    align-items: baseline;
    margin-left: 20px;
}

h1, h3 {
    margin: 0;
    padding: 0;
}

.nome .normal{
    margin-left: 20%;
    font-weight: lighter;
}

nav ul {
    list-style-type: none;  
    display: flex;
}


.TitoloBottone {
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
}

.TitoloBottone h1 {
    font-size: 250%;
    font-weight:lighter
}
.museum{
    font-weight: bolder;
}

nav ul li{
    margin-left: 5%;
    margin-right: 5%;
    font-weight: bold;
    font-size: 130%;
}

.nome .opera{
    font-weight: bolder;
    margin-left: 20%;
    text-decoration: underline;
}

.filter h3{
    font-weight: lighter;
}

.filter h3 span{
    font-weight: bolder;
}

.tool {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-left: 20px;
    margin-right: 20px;
}

h1, h3 {
    margin: 0; 
}

.filter {
    display: flex;
    align-items: center; 
}

.filter span {
    font-weight: bold;
}

