<!DOCTYPE html>
<html lang="en">
<head th:fragment="navbar">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{styles.css}"/>
    <link rel="stylesheet" th:href="@{navbar.css}"/>

    <title>Simple Navbar</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar">
    <a th:href="@{/}" class="logo"><h1>Only Museum</h1></a>
    <div class="navbar-links">
        <a th:href="@{paintings}">Paintings</a>
        <a th:href="@{authors}">Authors</a>
        <a th:href="@{form}">Form</a>
        <a th:href="@{currents}">Currents</a>
    </div>
</nav>
</body>
</html>