<html>

<head>
    <link rel="stylesheet" th:href="@{index.css}"/>
</head>

<body>
<div class="container">
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="tool">
        <h1>La nostra collezione</h1>
    </div>
    <a href = "index.html">← ‎ ‎ Go back</a>

    <div class="info">
        <img th:src="${painting.link}" id="mainImage" alt="Painting Image" th:if="${painting.link != null}">

        <div class="testo">
            <h3 th:text="${painting.name}">Nome quadro</h3>
            <h4 th:text="${painting.year}">Anno quadro</h4>

            <h3 th:text="${painting.getAuthor().name}">Nome autore</h3>


            <p th:text="${painting.description}">
            </p>
        </div>

        <div id="popup" class="popup">
            <span id="close" class="close">&times;</span>
            <img class="popup-content" id="popupImage">
        </div>
    </div>
</div>
</body>

</html>
