<html>

<head>
    <link rel="stylesheet" th:href="@{info.css}"/>
    <link rel="stylesheet" th:href="@{styles.css}"/>
</head>

<body>
<div class="container">
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="tool">
        <h1>La nostra collezione</h1>
    </div>
    <a href = "index.html">← ‎ ‎ Go back</a>

    <div class="info">
        <img id="mainImage" src="" />
        <div class="testo">
            <h3>Nome quadro</h3>
            <h4>Anno quadro</h4>
            <h3>Nome autore</h3>
            <h4>A. nascita e luogo - A. morte e luogo</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>

    <div id="popup" class="popup">
        <span id="close" class="close">&times;</span>
        <img class="popup-content" id="popupImage">
    </div>
</div>

    <script src="../static/script.js"></script>
</body>

</html>
